/* #region Variables */
:root {
    /* Fonts */
    --font-family-main: "Roboto", sans-serif;
    --font-family-logo: "Raleway", sans-serif;

    /* Colors */
    --color-primary: #4d5ae5;
    --color-secondary: #2e2f42;
    --color-text: #434455;
    --color-bg: #FFFFFF;
    --color-hover: #404bbf;
    --color-footer-bg: #2e2f42;
    --color-footer-text: #F4F4FD;
    --color-footer-logo: #4d5ae5;

    /* Others */
    --font-size-main: 16px;
    --font-weight-normal: 500;
    --letter-spacing-normal: 0.02em;
    --line-height-main: 1.5;
}

/* #endregion Variables */

/* #region Base */
body {
    font-family: var(--font-family-main);
    color: var(--color-text);
    background-color: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

a {
    text-decoration: none;
    color: currentColor;
}

button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: var(--color-primary);
    font-family: var(--font-family-main);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);
    letter-spacing: 0.04em;
    color: var(--color-bg);
    cursor: pointer;
}


/* #endregion */
/* #endregion Base */

/* #region Common */
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;

    /* Socials */
    .contact-info {

        font-style: normal;
    }

    .contact-list {
        display: flex;
        gap: 40px;
    }

    .contact-list li {
        margin-right: 40px;
    }

    .contact-list li:last-child {
        margin-right: 0;
    }


    .contact-link {
        font-size: var(--font-size-main);
        line-height: var(--line-height-main);
        letter-spacing: var(--letter-spacing-normal);
        color: var(--color-text);
    }

    .contact-link:hover,
    .contact-link:focus {
        color: var(--color-hover);
    }

    /* Buttons */
    .hero-button {
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        background-color: var(--color-primary);
        font-family: var(--font-family-main);
        font-weight: var(--font-weight-normal);
        font-size: var(--font-size-main);
        line-height: var(--line-height-main);
        letter-spacing: 0.04em;
        color: var(--color-bg);
        cursor: pointer;
    }

    .hero-button:hover,
    .hero-button:focus {
        background-color: var(--color-hover);
    }

    /* Card set */
    /* #endregion Common */

    /* #region Header */
}


.header {
    border-bottom: 1px solid #e7e9fc
        /* Р РЋРЎвЂљР С‘Р В»РЎвЂ“ Р Т‘Р В»РЎРЏ РЎвЂ¦Р ВµР Т‘Р ВµРЎР‚Р В° */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio-container {
    display: flex;
    padding: 120px;
    align-items: center;
    border-bottom: 110px;

}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    margin-right: 156px;

    gap: 40px;

    /* Р РЋРЎвЂљР С‘Р В»РЎвЂ“ Р Т‘Р В»РЎРЏ Р Р…Р В°Р Р†РЎвЂ“Р С–Р В°РЎвЂ РЎвЂ“РЎвЂ” */
}

.logo {
    display: flex;
    align-items: center;
    font-family: var(--font-family-logo);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-primary);
    margin-right: 76px;
}

.logo-span {
    color: var(--color-secondary);
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-item {}

.nav-link {
    display: block;
    padding: 24px 0;
}

/* #endregion Header */

/* #region Hero */
.section-hero {
    padding: 188px 0;
    background-color: var(--color-secondary);
}

.hero-title {

    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: var(--letter-spacing-normal);
    color: var(--color-bg);
}

/* #endregion Hero */

/* #region Services */
.section-services {
    padding: 120px 0;
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.service-title {
    margin-bottom: 8px;

}

.service-list {
    display: flex;
    gap: 24px;
}

.service-item {
    display: inline-flex;
    width: calc((100% - 72px) / 4);
    align-items: center;
    gap: 24px;
}

.service-description {
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);
    letter-spacing: var(--letter-spacing-normal);
}

/* #endregion Services */

/* #region Team */
.section-team {
    padding: 120px 0;
    background-color: #F4F4FD;
}

.team-header {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: var(--letter-spacing-normal);
    text-transform: capitalize;
    color: var(--color-secondary);
}

.team-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.team-item {
    flex: 1 1 calc((100% - 72px) / 4);
    background-color: var(--color-bg);
    border-radius: 0 0 4px 4px;
}


.team-member-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-member-info {
    padding: 32px 0;
    text-align: center;
}

.team-member-name {
    margin-bottom: 8px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: var(--letter-spacing-normal);
    text-transform: capitalize;
    color: var(--color-secondary);
}

.team-member-role {
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);
    letter-spacing: var(--letter-spacing-normal);
    text-align: center;
}



/* #endregion Team */

/* #region Portfolio */
.portfolio-section {
    padding: 120px 0;
}

.portfolio-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: var(--letter-spacing-normal);
    text-transform: capitalize;
    color: var(--color-secondary);
    font-weight: var(--font-weight-normal);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    background-color: var(--color-bg);
}

.portfolio-content {
    overflow: hidden;
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-app-title {
    text-align: center;
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: var(--letter-spacing-normal);
    text-transform: capitalize;
    color: var(--color-secondary);
    font-weight: var(--font-weight-normal);
}


.portfolio-category {
    margin-top: 0;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);
    letter-spacing: var(--letter-spacing-normal);
    color: var(--color-text);
}

/* #endregion Portfolio */


/* #region Footer */
.footer {
    padding: 100px 0;
    background-color: var(--color-footer-bg);
}

.footer-logo {
    display: inline-block;
    color: var(--color-footer-logo);
    margin-bottom: 16px;
}

.footer-web {
    display: inline-block;
    color: var(--color-footer-text);
}

.footer-text {
    line-height: var(--line-height-main);
    letter-spacing: var(--letter-spacing-normal);
    color: var(--color-footer-text);
}

/* #endregion Footer */