/* Загальні стилі */
body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin: 0;
    padding: 0;
    color: #333;
}

ul {
    list-style-type: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 20px;
}

.contact__list {
    display: flex;
    gap: 40px;
}

/* Main */
.hero {
    text-align: center;
    padding: 60px 20px;
    background-color: #2e2f42;
}

/* Features */
.features__list {
    display: flex;
    flex-wrap: wrap;
}

/* Team */
.team__list {
    display: flex;
    flex-wrap: wrap;
}

.team__info {
    padding: 32px 0;
}

.team__name,
.team__role {
    text-align: center;
    margin-bottom: 8px;
}

/* Portfolio */
.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
}

.portfolio__info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    text-align: center;
    margin-bottom: 8px;
}

/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #2E2F42;
    color: #fff;
}